
$color-red: #F7654A;
$color-white: #fff;

html,body {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1 {
    color: $color-white;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;

    & + p {
        color: $color-white;
        text-transform: uppercase;
    }
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 106px;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-gray {
    background-color: #F7F7F7;
}

.bg {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    position: relative;
    z-index: -1;

    & .title {
        position: absolute;
        top: calc(50% - 199px);
        left: 0;
        right: 0;
    }
}

.stat {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 780px;
    margin: -150px auto 0;
    padding-top: 70px;
    padding-bottom: 35px;
}

.stat-item {
    h2 {
        font-size: 72px;
        color: $color-red;
        margin-top: 0;
        margin-bottom: 22px;
    }

    h3 {
        font-size: 36px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 11px;
    }

    p {
        color: #999999;
        margin-top: 0;
    }
}

.box-party {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 56px;
    margin-bottom: 85px;

    & > div {
        flex-basis: 31.5%;
        max-width: 31.5%;
    }

    img {
        width: 100%;
    }

    h3 {
        position: relative;
        padding-top: 27px;
        margin-top: 43px;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 55px;
            height: 6px;
            background-color: $color-red;
        }
    }
}

.contact {
    background-color: $color-red;
    color: $color-white;
}

.box-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0px;

    h3 {
        font-size: 48px;
        margin-top: 0px;
        margin-bottom: 13px;
        letter-spacing: 1px;
    }

    p {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0.02em;
    }

    button {
        background-color: $color-white;
        border: none;
        padding: 15px 30px;
        margin: 17px 0px 0px 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        & img {
            margin: 4px 11px -3px 0px;
        }
    }
}

.info {
    padding-top: 42px;
    margin-bottom: 104px;

    h2 {
        margin-bottom: 90px;
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        text-align: center;
    }
}

.grid {
    text-align: center;
    display: grid;
    grid-template-areas: "a b c""d e f";
    grid-gap: 20px;
}

.grid-item {
    background: #F7F7F7;
    padding: 21px 30px 82px;

    h3 {
        font-weight: 500;
        margin-top: 11px;
        font-size: 21px;
        line-height: 1.5;
    }
}

.grid-one {
    grid-area: a;
}

.grid-two {
    grid-area: b;
}

.grid-three {
    grid-area: c;
}

.grid-four {
    grid-area: d;
}

.grid-five {
    grid-area: e;
}

.grid-six {
    grid-area: f;
}

.grid-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-photo-item {
    height: 100%;
    position: relative;

    &::before {
        content: '';
        background-color: rgba(64, 65, 73, 0.5);
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: 0.3s;
    }

    &:hover::before {
        background-color: initial;
    }

    & img {
        width: 100%;
        height: 100%;
    }
}

.box-feedback {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 57px;
    margin-bottom: 125px;

    & > div {
        box-sizing: content-box;
        flex-basis: 31.5%;
        max-width: 31.5%;
    }
}

.feedback {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F7F7;
    color: #999999;
    font-size: 14px;
    line-height: 21px;
    padding: 20px 30px;
    margin-bottom: 31px;

    &::before {
        content: '';
        background-image: url(../img/bq.svg);
        background-repeat: no-repeat;
        display: block;
        width: 34px;
        height: 28px;
        margin-bottom: 20px;
    }
}

.name {
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;

    & > div {
        flex-basis: 24%;
        max-width: 24%;
    }

    h3 {
        font-size: 24px;
        color: #999999;
    }
}

.footer-contact-info {
    list-style-type: none;
    padding-left: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    color: #000000;
}

.footer-contact-mail {
    color: $color-red;
}

.footer {
    background-color: #404149;
    padding: 20px 0;
    margin-top: 126px;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: $color-white;

    & a {
        color: $color-red;
        text-decoration: none;
    }
}

@media (max-width: 920px) {
    body {
        font-size: 16px;
    }

    .wrapper {
        max-width: 600px;
    }

    h1 {
        font-size: 45px;
        max-width: 600px;
    }

    h2 {
        font-size: 25px;
        margin-top: 74px;
    }
    
    .title {
        top: calc(50% - 67px - 75px);
    }

    .stat {
        max-width: 500px;
        margin: -106px auto 0;
        padding-top: 41px;
        padding-bottom: 35px;
    }

    .stat-item {
        h2 {
            font-size: 50px;
            margin-bottom: 14px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .box-party {
        h3 {
            margin-top: 27px;
            font-size: 23px;
        }
    }

    .box-contact {
        h3 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }
    }

    .grid {
        grid-gap: 13px;
        margin-top: 59px;
        margin-bottom: 91px;
    }

    .box-feedback {
        margin-top: 30px;
        margin-bottom: 65px;
        align-items: flex-start;
        flex-wrap: wrap;

        & > div {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    .feedback {
        margin-bottom: 20px;
    }

    .footer-contact {
        align-items: flex-start;
        margin-top: 61px;
        flex-wrap: wrap;

        h3 {
            font-size: 20px;
        }

        & > div {
            flex-basis: 49%;
            max-width: 49%;
            margin-bottom: 20px;
        }

        & > div:last-child {
            & img {
                margin-top: 6px;
            }

            & h3 {
                margin-top: 25px;
            }
        }
    }

    .font-contact-info {
        font-size: 20px;

        li {
            margin-bottom: 5px;
        }
    }

    .footer {
        margin-top: 32px;
    }
}

@media (max-width: 500px) {
    .box-contact {
        flex-direction: column;
        text-align: center;

        p {
            margin-bottom: 20px;
        }
    }

    .grid {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
    }

    .box-footer {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .footer-contact-info {
        font-size: 20px;
    }

    .box-footer {
        font-size: 10px;
    }

    .box-party {
        h3 {
            font-size: 18px;
        }
    }
}